.popup {
  width: 100px;
  border: 1px solid rgba(40, 39, 53, 0.2);
  border-radius: 10px;
  background: var(--ffffff);
  position: relative;
}
.popup-selected {
  padding: 13px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
}
.popup-count {
  width: 44px;
  color: var(--282735);
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
}
.popup-list {
  margin-top: 1px;
  padding: 15px 10px;
  position: absolute;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 20px 0 rgba(40, 39, 53, 0.1);
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 3;
}
.popup-list.open {
  opacity: 1;
  pointer-events: all;
}
.popup-item {
  padding: 10px 10px;
  font-weight: 500;
  font-size: 15px;
  color: var(--282735);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.popup-item:hover {
  background: var(--calendar_border);
}
.popup-item-line {
  width: auto;
  height: 1px;
  background: var(--f1f0fe);
}
