.card_inner {
  display: grid;
  grid-template-columns: repeat(6, 1fr) 110px;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
}
.delivery {
  color: var(--8653d4);
}
.request_type {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.type {
  width: 100%;
  max-width: 95px;
  border-radius: 6px;
  padding: 5px 10px;
  background: var(--8653d4);
  text-align: center;
  color: var(--ffffff);
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  cursor: default;
  user-select: none;
}
.action_button {
  display: flex;
  align-items: center;
  gap: 10px;
}
.action_button button {
  display: flex;
  align-items: center;
  cursor: pointer;
}
