.card__list_item {
  padding: 18px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 100px;
  align-items: center;
  gap: 10px;
}
.card__item_name {
  color: var(--282735);
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
}
.shortcut__button {
  display: flex;
  align-items: center;
  gap: 20px;
}
.button {
  display: flex;
}
