.stock__sort-block_name {
  margin-bottom: 4px;
  color: var(--282735);
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}
.stock__sort-popup {
  width: 100% !important;
}
.stock__sort-popup-count {
  width: 100% !important;
}
