.card_inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card_head {
  display: grid;
  grid-template-columns: repeat(6, 1fr) 110px;
  align-items: center;
  gap: 10px;
}
.card__head_item {
  color: var(--282735);
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  opacity: 0.5;
  cursor: default;
}
.callCenter_items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
