.modal-window {
  height: 100vh;
  position: fixed;
  top: 0;
  left: -200px;
  right: 0;
  bottom: 0;
  background: rgba(40, 39, 53, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  z-index: 999;
}
.modal-window__menu {
  width: 530px;
  background: var(--ffffff);
  border-radius: 10px;
  position: relative;
}
.modal-window__menu-button-close {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
}
.modal-window__menu-inner {
  padding: 20px;
}
.modal-window__menu-head {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--f1f0fe);
}
.modal-window__menu-head-name {
  color: var(--282735);
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}
.modal-window__menu-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modal-window__menu-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
