.notification {
  background: var(--8653d4);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.notification__inner {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notification__inner-message {
  color: var(--ffffff);
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
}
.notification__close {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}
